{% extends "index.html" %}

{% block title %}
Who am i?
{% endblock title %}

{% block main_header %}
About Me
{% endblock main_header %}

{% block main_title %}
Hello!
My name is Adrian Satriani and this is my first project in Django! <br><br>
{% endblock main_title %}

{% block paragraph1 %}
This entire page is dedicated to explain who i am! <br>
It looks very basic, i added some colors and a picture, just so it doesn't feel empty. <br>
The main idea was to make a page that would randomly recommend you a movie from it's own database, but with my current knowledge i can't add that, yet. <br> <br>
{% endblock paragraph1 %}

{% block paragraph2 %}
Version 0.0.1.
<p id="hidden">Did you find the testing page?</p>
{% endblock paragraph2 %}

