{% extends "index.html" %}

{% block title %}
Who am i?
{% endblock title %}

{% block main_header %}
About Me
{% endblock main_header %}

{% block main_title %}
Hello!
My name is Adrian Satriani and this is my first project in Django! <br><br>
{% endblock main_title %}

{% block paragraph1 %}
This entire page is dedicated to explain who i am! <br><br>

I'm 26 years old, i'm working right now as a Tech Support Analyst and i'm on the beginning of my journey to become a Developer (one day). <br>

I know, this entire page looks very basic. I added some colors and a picture, so it doesn't feel that empty. <br>
The main idea was to make a page that would recommend you a movie from it's own database, but with my current knowledge i can't add that, yet. So in the meantime, it will only serves as a Create and Read from it's own Database.<br> <br>
{% endblock paragraph1 %}

{% block paragraph2 %}
Version 0.0.1.
<p id="hidden">Did you find the testing page?</p>
{% endblock paragraph2 %}

