{% extends "index.html" %}

{% block title %}
Adding Movie
{% endblock title %}

{% block main_header %}
Here you can add a new Movie!
{% endblock main_header %}

{% block main_title %}
On this page you can add movies to our catalog.
{% endblock main_title %}

{% block paragraph1 %}
Enter the required information down below:

<form action="" method="POST">{% csrf_token %}
    {{form.as_table}}
    <input type="submit", value="Send!">
</form>
{% endblock paragraph1 %}

{% block paragraph2 %}
Thank you for adding something to our Database, let's make it bigger!
{% endblock paragraph2 %}