{% extends "index.html" %}

{% block title %}
Who am i?
{% endblock title %}

{% block main_header %}
About Me
{% endblock main_header %}

{% block main_title %}
Hello!
My name is Adrian Satriani and this is my first project in Django! <br><br>
{% endblock main_title %}

{% block paragraph1 %}
This entire page is dedicated to explain who i am! <br><br>

I am a 26 years old guy from Montevideo, i'm working right now as a Tech Support Analyst and i'm on the beginning of my journey to become a Developer (one day). <br>

The idea of this project is to facilitate a way for people to have information related to movies in a single place.<br> <br>
The real idea would be to use information from IMDB via API calls so i don't need to have a local Database with this information, but right now; with my current knowledge it's not doable. <br> <br>
{% endblock paragraph1 %}

{% block paragraph2 %}
Version 1.0.0
<p id="hidden">Did you find the testing page?</p>
{% endblock paragraph2 %}

