{% extends "index.html" %}

{% block title %}
Adding Movie
{% endblock title %}

{% block main_header %}
Add a Movie!
{% endblock main_header %}

{% block main_title %}
On this page you can add movies to our catalog.
{% endblock main_title %}

{% block paragraph1 %}
Enter the required information down below: <br><br>

<form action="" method="POST">{% csrf_token %}
    {{form.as_p}}
    <input type="submit", value="Send!">
</form>
{% endblock paragraph1 %}
{% block paragraph2 %}
<br>
Thank you for adding something to our Database, let's make it bigger! <br>
<a href={% url "movies:listMovies" %}>Click here to see the movies we currently have in our Database</a>
{% endblock paragraph2 %}