{% extends "index.html" %}

{% block title %}
Erasing Movie
{% endblock title %}

{% block main_header %}
Erase Movie "{{object.name}}"?
{% endblock main_header %}

{% block main_title %}
Caution!<br><br>
You are about to erase a movie from this Database: <br><br>
{% endblock main_title %}

{% block paragraph1 %}
<form action="" method="POST">{% csrf_token %}
    <p>You sure about this? If you are, click Erase!</p>
    <input type="submit" onclick="return confirm('Are you sure?')" , value="Erase!">
</form>
{% endblock paragraph1 %}
{% block paragraph2 %}

{% endblock paragraph2 %}