{% extends "index.html" %}

{% block title %}
Change Password
{% endblock title %}

{% block main_header %}
Change your Password
{% endblock main_header %}

{% block main_title %}
Modify your Password {{request.user.username}}!
{% endblock main_title %}

{% block paragraph1 %}

<form action={% url "users:ChangePassword" %} method="post">
    {% csrf_token %}

    {{form}}

    <input type="submit" value="Change!">
</form>

{% endblock paragraph1 %}

{% block paragraph2 %}

{% endblock paragraph2 %}
